// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.answer,
.question {
  margin: 10px 0;
  padding: 10px;
  border-left: 4px solid lightgray;
  p {
    line-height: 2.5;
    margin: 0;
    padding-left: 20px;
  }
}

.answer {
  background-color: #FFFEE1;
}
